{% extends 'layouts/base.njk' %}

{% block content %}
    {% postimage image, "c-post__header-image", title, "100vw" %}
    <h1 class="c-post__title">{{ title }}</h1>
    <section>
        <div class="l-container">
            <div class="c-post__post-content-wrapper">
                <div class="c-post__tag-list">
                    {% for tag in tags %}
                        <a class="c-tags__tag" href="/tags/{{ tag | noEmoji | slug }}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="c-post__instructions-wrapper u-free-text">
                    {% if sourceLabel and sourceURL %}
                        <p>Source : <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ sourceLabel }}</a></p>
                    {% endif %}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </section>

    <script>
        function adaptQuantity (ingredient, originalServings, currentServings) {
            return ingredient.replace(/(\d|\.|,)+/, match => Number(Math.round(parseFloat(match) * currentServings / originalServings + 'e' + 2) + 'e-' + 2));
        }
    </script>
{% endblock %}